<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jasmine.common.demo">
    <parameter id="type" value="COMMON"/>
    <dependencies>
        <plugin-dependency plugin-id="com.gridnine.jasmine.common.core"/>
    </dependencies>
    <extension point-id="domain-metadata">
        <parameter id="url" value="com/gridnine/jasmine/common/demo/model/demo-model-domain.xml"/>
    </extension>
    <extension point-id="ui-metadata">
        <parameter id="url" value="com/gridnine/jasmine/common/demo/model/demo-ui.xml"/>
    </extension>
</plugin>