.gradle
build
/lib/externals.txt
/plugins/com.gridnine.jasmine.server.demo/source-gen/com/gridnine/jasmine/server/demo/model/domain/
/plugins/com.gridnine.jasmine.server.demo/classes/
/data/db/
/logs/
/submodules/jasmine/plugins/com.gridnine.jasmine.server.standard/classes/
/submodules/jasmine/plugins/com.gridnine.jasmine.server.standard/source-gen/com/gridnine/jasmine/server/standard/model/rest/
/plugins/com.gridnine.jasmine.web.demo/source-gen/
/plugins/com.gridnine.jasmine.web.demo/resources/jasmine-demo/
/temp/
/plugins/com.gridnine.jasmine.server.demo/source-gen/
/submodules/jasmine/plugins/com.gridnine.jasmine.web.easyui/resources/jasmine-easyui/com.gridnine.jasmine.web.easyui/com/gridnine/jasmine/web/easyui/
/submodules/jasmine/plugins/com.gridnine.jasmine.web.easyui/resources/jasmine-easyui/
/node_modules/
/lib/externals-test.txt
/plugins/com.gridnine.jasmine.server.demo.test/classes/
/package-lock.json
