<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jasmine.web.demo.test">
    <parameter id="type" value="WEB_TEST"/>
    <parameter id="kotlin-output-dir" value="resources/webapp-demo-test"/>
    <parameter id="server-launcher-class" value="com.gridnine.jasmine.server.demo.test.web.DemoWebTest"/>
    <parameter id="test-suite-launcher" value="com.gridnine.jasmine.web.demo.test-suite-launcher.js"/>
    <parameter id="individual-test-launcher" value="com.gridnine.jasmine.web.demo.test-individual-launcher.js"/>
    <dependencies>
        <plugin-dependency plugin-id="com.gridnine.jasmine.web.core"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.web.easyui"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.web.demo"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.web.core.test"/>
    </dependencies>
</plugin>