<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jasmine.server.demo">
    <parameter id="type" value="SERVER"/>

    <dependencies>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.core"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.standard"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.db.h2"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.db.postgres"/>
    </dependencies>
    <extension point-id="domain-metadata">
        <parameter id="relative-path" value="source/com/gridnine/jasmine/server/demo/model/demo-model-domain.xml"/>
        <parameter id="url" value="com/gridnine/jasmine/server/demo/model/demo-model-domain.xml"/>
        <parameter id="dest-server-plugin-id" value="com.gridnine.jasmine.server.demo"/>
        <parameter id="dest-client-plugin-id" value="com.gridnine.jasmine.web.demo"/>
    </extension>
    <extension point-id="ui-metadata">
        <parameter id="relative-path" value="source/com/gridnine/jasmine/server/demo/model/demo-ui.xml"/>
        <parameter id="url" value="com/gridnine/jasmine/server/demo/model/demo-ui.xml"/>
        <parameter id="dest-server-plugin-id" value="com.gridnine.jasmine.server.demo"/>
        <parameter id="dest-client-plugin-id" value="com.gridnine.jasmine.web.demo"/>
    </extension>
    <extension point-id="rest-metadata">
        <parameter id="relative-path" value="source/com/gridnine/jasmine/server/demo/model/demo-rest.xml"/>
        <parameter id="url" value="com/gridnine/jasmine/server/demo/model/demo-rest.xml"/>
        <parameter id="dest-server-plugin-id" value="com.gridnine.jasmine.server.demo"/>
        <parameter id="dest-client-plugin-id" value="com.gridnine.jasmine.web.demo"/>
    </extension>
    <extension point-id="activator">
        <parameter id="class" value="com.gridnine.jasmine.server.demo.activator.DemoActivator"/>
    </extension>
    <extension point-id="web-messages">
        <parameter id="relative-path" value="source/com/gridnine/jasmine/server/demo/model/demo-web-messages.xml"/>
        <parameter id="url" value="com/gridnine/jasmine/server/demo/model/demo-web-messages.xml"/>
        <parameter id="dest-client-plugin-id" value="com.gridnine.jasmine.web.demo"/>
    </extension>
    <extension point-id="server-messages">
        <parameter id="relative-path" value="source/com/gridnine/jasmine/server/demo/model/demo-server-messages.xml"/>
        <parameter id="url" value="com/gridnine/jasmine/server/demo/model/demo-server-messages.xml"/>
        <parameter id="dest-server-plugin-id" value="com.gridnine.jasmine.server.demo"/>
    </extension>
</plugin>