<?xml version="1.0" encoding="UTF-8"?>
<component name="libraryTable">
   <library name="server">
      <CLASSES>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-classic/1.2.3/7c4f3c474fb2c041d8028740440937705ebb473a/logback-classic-1.2.3.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-core/1.2.3/864344400c3d4d92dfeb0a305dc87d953677c03c/logback-core-1.2.3.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.core/jackson-core/2.10.3/f7ee7b55c7d292ac72fbaa7648c089f069c938d2/jackson-core-2.10.3.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.h2database/h2/1.4.200/f7533fe7cb8e99c87a43d325a77b4b678ad9031a/h2-1.4.200.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.mchange/c3p0/0.9.5.5/37dfc3021e5589d65ff2ae0becf811510b87ab01/c3p0-0.9.5.5.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.mchange/mchange-commons-java/0.2.19/7a4bee38ea02bd7dee776869b19fb3f6861d6acf/mchange-commons-java-0.2.19.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.nothome/javaxdelta/2.0.1/d4f5d077f1b15c6f67595015d69572303ad3f66d/javaxdelta-2.0.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.sun.istack/istack-commons-runtime/3.0.7/c197c86ceec7318b1284bffb49b54226ca774003/istack-commons-runtime-3.0.7.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.sun.xml.fastinfoset/FastInfoset/1.2.15/bb7b7ec0379982b97c62cd17465cb6d9155f68e8/FastInfoset-1.2.15.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/commons-codec/commons-codec/1.14/3cb1181b2141a7e752f5bdc998b7ef1849f726cf/commons-codec-1.14.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/commons-fileupload/commons-fileupload/1.4/f95188e3d372e20e7328706c37ef366e5d7859b0/commons-fileupload-1.4.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/commons-io/commons-io/2.2/83b5b8a7ba1c08f9e8c8ff2373724e33d3c1e22a/commons-io-2.2.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/javax.activation/javax.activation-api/1.2.0/85262acf3ca9816f9537ca47d5adeabaead7cb16/javax.activation-api-1.2.0.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/javax.xml.bind/jaxb-api/2.3.1/8531ad5ac454cc2deb9d4d32c40c4d7451939b5d/jaxb-api-2.3.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache-extras.beanshell/bsh/2.0b6/fb418f9b33a0b951e9a2978b4b6ee93b2707e72f/bsh-2.0b6.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-core/9.0.30/ad32909314fe2ba02cec036434c0addd19bcc580/tomcat-embed-core-9.0.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-el/9.0.30/406e0c7cc45204c0f81853d73e8cfedfa4e00945/tomcat-embed-el-9.0.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-jasper/9.0.30/b57b6cc276bf7fd3f32cb13c405a7cb8382069c7/tomcat-embed-jasper-9.0.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat/tomcat-annotations-api/9.0.30/69e405494339f1a06097fbddbd93164dbf8bddaf/tomcat-annotations-api-9.0.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.checkerframework/checker-qual/3.5.0/2f50520c8abea66fbd8d26e481d3aef5c673b510/checker-qual-3.5.0.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.eclipse.jdt/ecj/3.18.0/4d5d0911b30db24c8eb844702c8adf8e434314ff/ecj-3.18.0.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.ehcache/ehcache/3.8.1/ae19c7f2f63f5e88f00ccd189b22c535ab75b01a/ehcache-3.8.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.glassfish.jaxb/jaxb-runtime/2.3.1/dd6dda9da676a54c5b36ca2806ff95ee017d8738/jaxb-runtime-2.3.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.glassfish.jaxb/txw2/2.3.1/a09d2c48d3285f206fafbffe0e50619284e92126/txw2-2.3.1.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.javassist/javassist/3.18.2-GA/1180a90fbad732b60fb728a6bbe8fcb3151423d7/javassist-3.18.2-GA.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-reflect/1.4.10/e2b3c6695eee6085e606d96d685396dce23a3a06/kotlin-reflect-1.4.10.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-common/1.4.10/6229be3465805c99db1142ad75e6c6ddeac0b04c/kotlin-stdlib-common-1.4.10.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-jdk7/1.4.10/30e46450b0bb3dbf43898d2f461be4a942784780/kotlin-stdlib-jdk7-1.4.10.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-jdk8/1.4.10/998caa30623f73223194a8b657abd2baec4880ea/kotlin-stdlib-jdk8-1.4.10.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib/1.4.10/ea29e063d2bbe695be13e9d044dcfb0c7add398e/kotlin-stdlib-1.4.10.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains/annotations/13.0/919f0dfe192fb4e063e7dacadee7f8bb9a2672a9/annotations-13.0.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jvnet.staxex/stax-ex/1.8/8cc35f73da321c29973191f2cf143d29d26a1df7/stax-ex-1.8.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.postgresql/postgresql/42.2.18/a0a9c1d43c7727eeaf1b729477891185d3c71751/postgresql-42.2.18.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.slf4j/slf4j-api/1.7.30/b5a4b6d16ab13e34a88fae84c35cd5d68cac922c/slf4j-api-1.7.30.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.common/zcommon/9.5.0.2/d15a546d76802ad2fdc994d0b1f4138e74aa1bcf/zcommon-9.5.0.2.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.common/zel/9.5.0.2/1251b5f25286404eb052dd928e34968c010d5e92/zel-9.5.0.2.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.common/zweb/9.5.0.2/84ac64d6e80cdf23df26c704a751130450cbc679/zweb-9.5.0.2.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.theme/silvertail/9.5.0.2/9f497365a8cd18f25fa01a29ab9f32c2dba6458a/silvertail-9.5.0.2.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.zk/zk/9.5.0.2/751eba11eda9e0f894bd96f050ac76452b3115c8/zk-9.5.0.2.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.zk/zkwebfragment/9.5.0.2/13c5349e316e0a2dfebcf330f81a4ea361bdd1ef/zkwebfragment-9.5.0.2.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.zk/zul/9.5.0.2/128b044292bed852e0a3d88b97b25213492ca9de/zul-9.5.0.2.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/trove/trove/1.0.2/112b40581ab9a4d3de4636d49985a7f686d181c8/trove-1.0.2.jar!/"/>
         <root url="jar:///home/avramenko/IdeaProjects/jasmine-demo-final/submodules/jasmine/plugins/com.gridnine.jasmine.server.zk/resources/zk-select2.jar!/"/>
      </CLASSES>
      <JAVADOC/>
      <SOURCES>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-classic/1.2.3/cfd5385e0c5ed1c8a5dce57d86e79cf357153a64/logback-classic-1.2.3-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-core/1.2.3/3ebabe69eba0196af9ad3a814f723fb720b9101e/logback-core-1.2.3-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.fasterxml.jackson.core/jackson-core/2.10.3/5b24f64c1a3351a550651b072887ac56a0af120c/jackson-core-2.10.3-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.h2database/h2/1.4.200/3b5883b7a5a05b932c699760f0854ca565785a84/h2-1.4.200-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.mchange/c3p0/0.9.5.5/7a86790c4f73d20112e0bbfb9718384950569169/c3p0-0.9.5.5-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.mchange/mchange-commons-java/0.2.19/91a05a2e27efc8e8b95638926d6e0bf41d1cdd2c/mchange-commons-java-0.2.19-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.nothome/javaxdelta/2.0.1/c99bfecfaa91279b8a3d7d25a99cbbda107c903d/javaxdelta-2.0.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.sun.istack/istack-commons-runtime/3.0.7/c899ff66b36c0cf814b3996d5dd9aa6b4684212c/istack-commons-runtime-3.0.7-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/com.sun.xml.fastinfoset/FastInfoset/1.2.15/2679fa1855aebe1a48e4ec6928eafe7d261bf228/FastInfoset-1.2.15-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/commons-codec/commons-codec/1.14/674f0614376ac38259b01bcc67189ef240234569/commons-codec-1.14-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/commons-fileupload/commons-fileupload/1.4/d50ee98902746c6a351662fa8b728189d1a30e90/commons-fileupload-1.4-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/commons-io/commons-io/2.2/8d6b98f21262995489a8418fff8da992d7e25c1e/commons-io-2.2-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/javax.activation/javax.activation-api/1.2.0/1b4c6e77d35adab19794746d8ea753df30d77dca/javax.activation-api-1.2.0-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/javax.xml.bind/jaxb-api/2.3.1/e47264d065cecbc572ba99856fcc7da19a470ae3/jaxb-api-2.3.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache-extras.beanshell/bsh/2.0b6/76a65f674e8f2df409934824c49ca338987c63ae/bsh-2.0b6-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-core/9.0.30/73fc8b54346500884e0af113a26b7e5501bf3121/tomcat-embed-core-9.0.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-el/9.0.30/44e03a34483dde0bc2e41db049f81cbe8756088e/tomcat-embed-el-9.0.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat.embed/tomcat-embed-jasper/9.0.30/b503a1a202fc2b6c2cfa23f9b56905b33537344e/tomcat-embed-jasper-9.0.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.apache.tomcat/tomcat-annotations-api/9.0.30/300f53e8dd1c7d2419126e877702c0108f20f73c/tomcat-annotations-api-9.0.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.checkerframework/checker-qual/3.5.0/acb4745ac343906cd39f9b3776db0e56f251ae6e/checker-qual-3.5.0-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.eclipse.jdt/ecj/3.18.0/a3e3bc746b00e64363061bc18ae3a53b0c078de8/ecj-3.18.0-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.ehcache/ehcache/3.8.1/33eff8be889857b5ba53f1e3ec93fdd72594f97d/ehcache-3.8.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.glassfish.jaxb/jaxb-runtime/2.3.1/a6eab08c0837ac6ff0b1c1ad47d7945b1385fbda/jaxb-runtime-2.3.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.glassfish.jaxb/txw2/2.3.1/b83e3d8869ba034c44b8b0b233bc050b0c051700/txw2-2.3.1-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.javassist/javassist/3.18.2-GA/7163084913aa7399e4ce2cbc3ee5c00ac2b1f35f/javassist-3.18.2-GA-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-reflect/1.4.10/d0b96b542fcc85544df2b7ac2f0fbceaded2d90a/kotlin-reflect-1.4.10-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-common/1.4.10/d971e5bb07a7f610eda65e5efc8decbd0548a270/kotlin-stdlib-common-1.4.10-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-jdk7/1.4.10/710a0b1d4fa5e809dd4005eff7e334ee38f33ae8/kotlin-stdlib-jdk7-1.4.10-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-jdk8/1.4.10/c0f5a1f8f77dd62be2f4c2a99a595bf574ac1ca9/kotlin-stdlib-jdk8-1.4.10-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib/1.4.10/4a5e4f984e6c3e380f100857f04aba4f3e5fbda8/kotlin-stdlib-1.4.10-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jetbrains/annotations/13.0/5991ca87ef1fb5544943d9abc5a9a37583fabe03/annotations-13.0-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.jvnet.staxex/stax-ex/1.8/bd2cfcaffb7feaecc7632191563f6beb91f2fd30/stax-ex-1.8-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.postgresql/postgresql/42.2.18/f03205de8be7a1a71dccdc985f436d3461cf1960/postgresql-42.2.18-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.slf4j/slf4j-api/1.7.30/71a1fdefa224da50f1db6306ce609981e20186c9/slf4j-api-1.7.30-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.common/zcommon/9.5.0.2/4348957ddc1d167fd62d3ce6f44b103e550d3812/zcommon-9.5.0.2-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.common/zel/9.5.0.2/510c0ca4940a3f663d2a932c879f28a504d272d6/zel-9.5.0.2-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.common/zweb/9.5.0.2/729c40222b4ebf3be09c2b2ab052bdd01b0e0704/zweb-9.5.0.2-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.theme/silvertail/9.5.0.2/b04f3ee8f5e43fa3b162981b50bb72fe1acabb33/silvertail-9.5.0.2-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.zk/zk/9.5.0.2/1fe93e2dd606fc8fe985663d6a8f1ef7414c344/zk-9.5.0.2-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.zk/zkwebfragment/9.5.0.2/b04f3ee8f5e43fa3b162981b50bb72fe1acabb33/zkwebfragment-9.5.0.2-sources.jar!/"/>
         <root url="jar:///home/avramenko/.gradle/caches/modules-2/files-2.1/org.zkoss.zk/zul/9.5.0.2/25bfd2d52ea054c102fba2b1d930bf6465d895f/zul-9.5.0.2-sources.jar!/"/>
      </SOURCES>
   </library>
</component>
