<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jasmine.web.demo">
    <parameter id="type" value="WEB"/>
    <parameter id="kotlin-output-dir" value="resources/jasmine-demo"/>
    <dependencies>
        <plugin-dependency plugin-id="com.gridnine.jasmine.web.core"/>
    </dependencies>
</plugin>